body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #020c0e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffc95a;
  background-color: #020c0e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ffc95a;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020c0e;
  border: 1px solid #ffc95a;
  color: #020c0e;
  padding: 20px;
}

.logo a {
  overflow: scroll;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffc95a;
  margin-right: 45px;
  font-size: 32px;
}

.logo a:hover {
  background-color: #ffc95a;
  color: #333;
}

.menu {
  margin: 0 auto;
  overflow: auto;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  min-width: fit-content;
}

.menu li {
  margin-right: 20px;
  min-width: 70px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #ffc95a;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #ffc95a;
  color: #333;
}

/* FOOTER */

footer {
  background-color: #020c0e;
  border: 1px solid #ffc95a;
  color: #ffc95a;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  border: 1px solid #ffc95a;
  padding: 15px 8px;
  border-radius: 8px;
  color: #ffc95a;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links li a:hover {
  color: #020c0e;
  background-color: #ffc95a;
}

.footer_github {
  margin-left: 8px;
  margin-bottom: -2px;
}

.footer_github:hover {
  color: #020c0e;
}

/* INDEX */

.index_ul {
  margin: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.index_button {
  margin: 10px;
}

.index_button a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffc95a;
  background-color: #020c0e;
  border: 1px solid #ffc95a;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.index_button a:hover {
  background-color: #ffc95a;
  color: #020c0e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.practico {
  color: #ffc95a;
}

.practico_container {
  max-width: 800px;
}

.practico_container h2 {
  text-align: center;
}

.practico_container a {
  color: #b28c3f;
}

.practico_container ol {
  list-style-type: lower-alpha;
}

.practico_container ul {
  list-style-type: square;
}

.practico_container p {
  margin-top: 32px;
}

/* Ejercicio 2 */

.cat_ul li {
  list-style: none;
  margin-left: -50px;
  font-size: 21px;
  padding-bottom: 12px;
  color: #ffc95a;
}

.cat_ascii {
  color: #ffc95a;
  font-family: monospace;
  white-space: pre;
  font-size: 1.3vw;
}

.exercise_1_p {
  color: #ffc95a;
}

/* ejercicio 1 */

/* Ejercicio 3 */

.type_cat label {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
  color: #ffc95a;
  margin-top: 30px;
}

.type_cat label:first-child {
  margin-top: 20px;
}

.input_cat {
  display: block;
  margin-bottom: 8px;
  padding: 4px;
  width: 300px;
  border-radius: 8px;
}

.form_submit {
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffc95a;
  background-color: #020c0e;
  transition: all 0.3s ease;
  margin: 25px auto 0px;
  border-radius: 8px;
}

.form_submit:hover {
  background-color: #ffc95a;
  color: #020c0e;
  cursor: pointer;
}

.cat_result h2 {
  font-size: 16px;
  color: #ffc95a;
  padding: 8px;
  text-align: center;
}

.cat_result div {
  padding: 15px;
  border: 1px solid #ffc95a;
  border-radius: 12px;
  margin-top: 15px;
}

.cat_result p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #020c0e;
  padding: 15px;
  color: #ffc95a;
  border-radius: 35px;
  text-align: center;
}

.input_cat {
  background-color: #020c0e;
  border: 1px solid #ffc95a;
  color: #ffc95a;
  font-size: 16px;
  text-align: center;
}

/* Ejercicio 4 */

.buttons {
  margin: 8px 0 21px 0;
}

.buttons a {
  display: inline;
  margin: 0 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #020c0e;
  background-color: #ffc95a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 8px;
}

.buttons a:hover {
  background-color: #020c0e;
  color: #ffc95a;
  border: 1px solid #ffc95a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ejercicio 5 */

.form_nota {
  color: #ffc95a;
  border: 1px solid #ffc95a;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 25px;
  max-width: 530px;
}

.form_nota img {
  width: 250px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #ffc95a;
  float: left;
}

.IMCats_result {
  color: #ffc95a;
}

.IMCat_result_container h2 {
  text-align: center;
}

/* exercise 6 */

.container-exercise_6 {
  overflow: auto;
  margin: 15px;

}

.container-exercise_6 table {
  color: #ffc95a;
  text-align: center;
  border-collapse: collapse;
}

thead{
  color: #020c0e;
  background-color: #ffc95a;
}

tr, td, th {
  border: 1px solid #ffc95a;
  padding: 5px;
}

tbody {
  color: #ffc95a;
}

/* ejercicio 7 */
.container-exercise7 {
  overflow: auto;
  padding-bottom: 100px;
}


.CATompound-container table {
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

/* ejercicio 8 */


